.SubHeader {
  text-align: center;
  font-family: Serif;
  font-weight: 300;
  font-size: 30px;
}

.short-text { 
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  display: none;
}
.full-text {
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

.center {
  text-align: center;
}



@media (max-width: 1400px) {
  .SubHeader {
    font-size: 25px;
  }
  .full-text {
    font-size: 50px;
  }
}

@media (max-width: 1200px) {
  .SubHeader {
    font-size: 22px;
  }
  .full-text {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .SubHeader {
    font-size: 18px;
  }
  .full-text {
    font-size: 45px;
  }
}

@media (max-width: 800px) {
  .SubHeader {
    display: none  
  }
  .full-text {
    font-size: 40px;
  }
}

/*When resolution <= 600px, hide full text and show short text */
@media (max-width: 600px) {
  .short-text {
    text-align: center;
    display: initial;
  }
  .full-text { 
    display: none; 
  }
}